extends layout

block content
	p POST
		/signup 
	p POST
		/login
	p GET
		/pubs
	p GET
		/pubs/:id
	p GET
		/races
	p GET
		/races/:id
	p DELETE
		/races/:id
	p PUT
		/races/:id/update
	p GET
		/races/:id/users
	p PUT
		/races/:id/join
	p PUT
		/races/:id/leave
	p PUT
		/races/:id/name/:name
	p PUT
		/races/:id/start
	p PUT
		/races/:id/end
	p PUT
		/races/:id/pub/:pubId/name/:pubName
	p GET
		/races/name/:name
	p DELETE
		/races/name/:name
	p POST
		/races/new/:name
	p PUT
		/races/name/:name/update
	p GET
		/races/name/:name/users	
	p PUT
		/races/name/:name/join
	p PUT
		/races/name/:name/leave
	p PUT
		/races/name/:oldName/name/:name
	p PUT
		/name/:name/users	
	p PUT
		/races/name/:name/start
	p PUT
		/races/name/:name/end
	p PUT
		/races/name/:name/pub/:pubName
	p GET
		/users
	p GET
		/users/pubs
	p PUT
		/users/pubs/:pubId/name/:pubName
	p DELETE
		/users/pubs/:pubId
	p DELETE
		/users/pubs/name/:pubName
	p GET
		/users/races
	p GET
		/users/racescreated
	p GET
		/users/:id
	p DELETE
		/users/:id
	p POST
		/users/:username/firstname/:firstname/lastname/:lastname
	p PUT
		/users/:id/username/:username
	p PUT
		/users/:id/firstname/:firstname
	p PUT
		/users/:id/lastname/:lastname
	p PUT
		/users/:id/country/:country
	p PUT
		/users/:id/birthdate/:birthdate
	p PUT
		/users/race/:raceId/pub/:pubId/tag
	p PUT
		/users/race/:raceId/pub/:pubId/untag
	p GET
		/users/race/:raceId/tags
	p GET
		/users/name/:name
	p DELETE
		/users/name/:name
	p PUT
		/users/name/:name/username/:username
	p PUT
		/users/name/:name/firstname/:firstname
	p PUT
		/users/name/:name/lastname/:lastname		
	p PUT
		/users/name/:name/country/:country	
	p PUT
		/users/name/:name/birthdate/:birthdate		
	p PUT
		/users/race/name/:raceName/pub/name/:pubName/tag	
	p PUT
		/users/race/name/:raceName/pub/name/:pubName/untag	
	p GET
		/users/race/name/:raceName/tags
