extends layout

block content
	section(class='race-list')
		div(class='row header')
			span(class='name') name
			span(class='author-id') author id
		ul

block styles
	link(rel='stylesheet', href='/stylesheets/races.css')

block scripts
	script(src='/js/races.js')
