extends layout

block content
	div.wrapper.races
		h2 races
		section.race-list
			div.row.header
				span.name name
				span.author-id author id
			ul

block styles
	link(rel='stylesheet', href='/stylesheets/races.css')

block scripts
	script(src='/js/races.js')
