extends layout

block content
	div.wrapper.races
		h2 races
		section.race-list
			div.row.header
				div.name 
					span name
				div.author-id 
					span author id
			ul
		section.race-input
			input.name(type='text', placeholder='name')
			input.add(type='button', value='add', onclick='addRace()')

block styles
	link(rel='stylesheet', href='/stylesheets/races.css')

block scripts
	script(src='/js/races.js')
