extends layout
	
block content
	div.wrapper.pubs
		h2 pubs
		section.pub-list
			div.row.header
				div.id 
					span id
				div.name 
					span name
			ul

block styles
	link(rel='stylesheet', href='/stylesheets/pubs.css')

block scripts
	script(src='/js/pubs.js')
