extends layout
	
block content
	div.wrapper.users
		h2 users
		section.user-list
			div.row.header
				div.id 
					span id
				div.username 
					span username
				div.password 
					span password
			ul

block styles
	link(rel='stylesheet', href='/stylesheets/users.css')

block scripts
	script(src='/js/users.js')
