section.race-list ul{
    list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}

section.race-list .row > span{
	display: inline-block;
	font-size: medium;
}

section.race-list .row > span.name{
	width: 400px;
}

section.race-list .row > span.author-id{
	width: 100px;
}

section.race-list .header{
	font-weight: bold;
}

section.race-list ul > li.odd{
	background: #f1f1f1;
}
